.txt--bold {
  font-weight: bold;
  line-height: 18.75px;
  font-size: 16px;
  color: #005B96;
}
.txt--bold--xl {
  font-weight: bold;
  line-height: 18.75px;
  font-size: 23px;
}
.txt--bold--xxl {
  font-weight: bold;
  line-height: 28.13px;
  font-size: 24px;
  color: #011F4B;
}
.txt--regular--small {
  font-weight: normal;
  line-height: 16.41px;
  font-size: 14px !important;
    color: #011F4B;
}
.txt--regular {
  font-weight: normal;
  line-height: 26.3px;
  font-size: 16px;
    color: #011F4B;
}